* {
  text-align: center;
  padding: 0;
  margin: 0;
}

#mobile-title {
  visibility: hidden;
}

.hide {
  visibility: hidden;
}

h1 {
  font-size: 4em;
  line-height: 100px;
  color: #ffffff;
}
body {
  background-color: #f4a5ae;
}

.btn {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: none;
  &:hover {
    box-shadow: 0 0 40px rgb(255, 255, 255);
    background-color: grey;
  }
}

.cat1 {
  background-image: url(./images/cat1.jpeg);
  background-size: cover;
}
.cat2 {
  background-image: url(./images/cat2.jpeg);
  background-size: cover;
}
.cat3 {
  background-image: url(./images/cat3.jpeg);
  background-size: cover;
}
.cat4 {
  background-image: url(./images/cat4.jpeg);
  background-size: cover;
}

.container {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
  width: 20%;
  gap: 10px;
  margin-left: 35%;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.loser {
  border-radius: 5px;
  height: 500px;
  border: 5px solid black;
  position: absolute;
  right: 20%;
  top: 10%;
  display: grid;
  grid-template: 5fr 1fr/ 1fr;
  opacity: 90%;
  width: 800px;
  background-image: url(./images/loser.jpeg);
  background-size: cover;
  p {
    color: rgb(8, 5, 6);
    font-size: 3rem;
    font-weight: bold;
  }
}
#start {
  display: none;
}

@media (max-width: 450px) {
  h1 {
    display: none;
    margin-top: 100px;
  }

  #mobile-title {
    visibility: visible;
    font-size: 3em;
    line-height: 200px;
    color: #ffffff;
  }

  #start {
    display: inline-block;
    width: 100px;
    height: 50px;
    margin-top: 20px;
    font-size: 2rem;
    border-radius: 10px;
    border: none;
    background-color: #db6875;
    color: antiquewhite;
  }

  .container {
    .btn {
      width: 150px;
      height: 150px;
    }
    margin-left: 13%;
    margin-top: 10%;
    width: 100px;
  }
  .loser {
    border-radius: 5px;
    height: 700px;
    border: 5px solid black;
    position: absolute;
    left: 10%;
    top: 10%;
    display: grid;
    grid-template: 5fr 1fr/ 1fr;
    opacity: 90%;
    width: 300px;
    background-image: url(./images/b1a66bbfed46833c0568af9e9f0ad7eb.jpg);
    background-size: cover;
    p {
      visibility: hidden;
    }
  }
}
